/* CSS en CamelCase */
.heroContainer {
	height: 80vh;
	width: 100%;
	background-color: rgba(48, 48, 48, 0.192);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3rem 0 1rem 0;
}

.contentContainer {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
}

.titleContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.h1Container {
	display: flex;
	flex-direction: row;
}

.h1Container > h1 {
	font-size: 3rem;
}

.title {
	margin-right: 15px;
}

.animationContainer {
	display: flex;
	flex-direction: column;
	display: flex;
	align-items: center;
}

.titleDescription {
	font-size: 1rem;
	font-weight: 300;
	margin-top: 5px;
}

.animation {
	width: 200px;
	height: 200px;
}
.scrollContainer {
	font-size: 10px;
	font-weight: 300;
	text-align: center;
}
.scrollIcon {
	width: 20px;
	padding-bottom: 10px;
}

@media screen and (min-width: 1048px) {
	.heroContainer {
		height: 100%;
	}

	.contentContainer {
		flex-direction: row;
		justify-content: center;
		margin-left: 2rem;
		align-items: center;
	}

	.titleContainer {
		align-items: center;
	}
	.titleDescription {
		border-top: 1px solid white;
		padding-top: 15px;
		font-weight: 300;
	}

	.h1Container > h1 {
		margin-top: 15px;
		font-size: 5rem;
	}

	.animationContainer {
		margin-left: 5rem;
		padding: 8rem 0;
	}

	.animation {
		width: 500px;
		height: 500px;
	}
}
