.animationContainer {
	position: absolute;
	display: flex;
	width: 98vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

@media (min-width: 768px) {
	.animationContainer {
		position: absolute;
		left: 1%;
		width: 99vw;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
	}
}
